body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: row;
  font-family: "Alegreya", serif;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
