.home {
    box-sizing: border-box;
    width: 80%;
    margin-top: 20px;
}

.home p {
    margin: 0;
}

.home-on-sale {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.home-sale-upperItem {
    display: flex;
    flex-direction: row;
}

.home-upperItem-leftContent {
    width: 60%;
    margin-right: 20px;
}

.home-upperItem-rightContent {
    display: flex;
    flex-direction: column;
    width: calc(40% - 20px);

}

.home-saleItem {
    height: 50%;  
}

.image-item {
    cursor: pointer;
}

.image-item:hover {
    border: 1px solid black;
    border-radius: 10px;
}

.home-on-sale img {
    height: calc(100% - 20px); 
    width: calc(100% - 20px);
    border-radius: 10px;
    margin: 10px;
}

.home-sale-lowerItem {
    display: flex;
    margin-top: 15px;
}

.home-lowerItem {
    margin-right: 15px;
    width: 100%;
}

.home-lowerItem:last-child {
    margin-right: 0;
}

.home-deal-day{
    width: 100%;
    margin-bottom: 30px;
}

.home-deal-day img {
    width: calc(100% - 20px);
    height: 100%;
    margin: 10px 0 5px 10px;
    border-radius: 10px;
}

.home-deal-day:hover{
    border: 1px solid black;
    border-radius: 10px;
}

.home-deal-day:active {
    background-color: lightgrey;
}

.home-popup-sale {
    display: flex;
    padding: 15px;
    background-color: #7f187f;
    width: fit-content;
    align-items: center;
    position: absolute;
    bottom: 50px;
}

.home-popup-sale p {
    margin-right: 20px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.home-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}